/*  Add content for elements like headers, footers,  etc.*/


#footer {
    position: fixed;
    text-align: center;
    text-decoration: solid;
    bottom: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
    grid-area: ft;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }