/*  Add content for elements like headers, footers,  etc.*/


#footer {
    position: relative;
    text-align: center;
    text-decoration: solid;
    bottom: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}