/* To add css for default components */

@import "style.css";
@import "components.css";
@import "text.css";
@import "elements.css";


ul {
	padding: none;
	padding-inline-start: 0px;
}


ul li {
	list-style: none;

}

img {
	box-sizing: content-box;
}

input {
	display: flex;
	margin: 1em 1em 1em 8em;
	text-indent: 8%;
	color: green;
	width: 100px;
	height: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: medium;
	border: transparent;
	cursor: pointer;
}

h1 {
	color: greenyellow;
	text-align: center;
}

h2 {
	color: olive;
	text-align: center;
}

h3 {
	color: green;
	text-align: center;
}

h4 {
	color: coral;
	font-size: xx-large;
	text-align: end;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 550px;
}

h5 {
	font-size: medium;
	color: coral;
	margin: 2%;
	font-style: italic;
	padding-left: 50px;
	width: 400px;
}

h6 {
	font-size: medium;
	font-weight: lighter;
	color: green;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

address {
	padding-left: 50px;
	padding-top: 10px;
}

figcaption {
	color: forestgreen;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
	h4 {
		width: 250px;	
	}

	h6 {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	input {
		margin: 1em 1em 1em 18em;
	}

	h4 {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 450px;
		text-align: end;
	}

	h6 {
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
	}
}