/* To add id  # styles*/
	
	
/* .link-text {
  color: red;
} */

/* ul li a {
  color: green;
}

ul a {
  color: yellow;
}

a {
  color: blue;
}
 */


 

 #a-link {
    font-family: Georgia;
    font-size: large;
    text-decoration: none;   
    display: block;
    font-weight: bold;
    text-align: center;
    list-style: none;
	color: green;
}

.a-title {
	text-decoration: none;
	color: green;
}

/* #a-social-media {	
     color: green;
} */

.box-left-menu{
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 80%;
	/*height: 500px;*/
	/* /*border: 2px solid gray;* */
	/*margin: 5px;
	padding: 5px;*/
}

@media(min-width:900px){
.box-main-content{	
	display: grid;
	grid-area: auto;
	grid-template-columns: 350px 350px 350px 350px;
	grid-gap: 100px;
	padding: 10px;	
}
}

.blog-card{
	display: flex;
	background-color: rgb(205, 210, 100);
	color: rgb(55, 10, 73);
	/* text-align: justify; 
	border: 1px solid red;*/
}

.image {
	width: 350px;
	height: 300px;	
}

.img-avatar {
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
 }
