/* Add styles on text */

.p-start-para {
    font: normal;
    font-size: 12;
    font-style: normal;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 3em;
    /*word-spacing: 30%;
    color: blue;*/   
    padding: 5px 10px 5px 10px;
    text-align: justify;
}

.p-text {
    font: normal;
    font-size: 12;
    font-style: normal;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;    
    padding: 5px 10px 5px 10px;
    text-align: justify;
}