<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> PAGE TITLE </title>
    <link type="text/css" href="../css/main.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
            color: green;
        }
    </style>

<body>
    <div>
        <a href="index.html">
            <header class="heading-title">
                My Front End Blog Project
        </a></header>
    </div>    
    <div class="box-left-menu">
        <ul>
            <!-- <li><a class="link-text" href="about.html">About</a></li> -->
            <li><a id="a-link" href="about.html">About</a></li>
            <br />
            <li><a id="a-link" href="technology.html">Technology</a></li>
            <br />
            <li><a id="a-link" href="nature.html">Nature</a></li>
            <br />
        </ul>
    </div>
    <div>
        <p>SPECIFIC PAGE DESIGN</p>
        
     </div>
</body>
<footer id="footer">&copy; Copyright 2023. All rights reserved.</footer>
</html>


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Nature </title>
    <link type="text/css" href="../css/main.css" rel="stylesheet" />

<body>
    <header id="heading-title"><strong>My Front End Blog Project</strong></header>
    <p>Main text</p>

</body>
<footer id="footer">&copy; Copyright 2023. All rights reserved.</footer>

</html>