<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Front End Blog Project </title>
    <link type="text/css" href="css/main.css" rel="stylesheet" />

<body>
    <a class="a-title" href="../index.html">
        <header class="heading-title">
            Front End Blog Project
    </a>
    <h4>March</h4>
    <article>
        <address>
            <img src="../images/Avatar.jpg" alt="avatar" class="img-avatar" />
            <h5> By Frontend Learner</h5>
        </address>       
    </article>
    </header>

    <div class="sub">
        <div class="box-left-menu">
            <div class="heading-title">Posts</div>
            <ul>                
                <li><a id="a-link" href="html/March.html">March</a></li>
                <br />
                <li><a id="a-link" href="#">February</a></li>
                <br />
                <li><a id="a-link" href="#">January</a></li>
                <br />
            </ul>
            About
            <h6>Currently pursuing Udacity Frontend Nano Degree<br />
                Learning front end Nano Degree at Udacity.<br /></h6>
                <h6>Contact me on Social media:
                    <a id="a-social-media" href="https://www.twitter.com/" target="_blank">Twitter</a>
                    <a href="https://www.facebook.com/">Facebook</a>
                    <a href="https://www.linkedin.com/">LinkedIn</a>
                </h6>
        </div>


        <p class="p-start-para">SPECIFIC PAGE CONTENT    
        </p>
   
    </div>
</body>
<footer id="footer">&copy; Copyright 2023. All rights reserved.</footer>
</html>
